body {
    /* Выбираем красивый шрифт из тех, что есть в системе */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
